@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: 'icon';
    src: url('../fonts/icon/Keepstyle.eot');
    src: url('../fonts/icon/Keepstyle.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icon/Keepstyle.woff') format('woff'),
    url('../fonts/icon/Keepstyle.ttf') format('truetype'),
    url('../fonts/icon/Keepstyle.svg#Keepstyle') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'MotorCyr';
  src: 
  url('../fonts/MotorCyr/MotorCyr.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/MotorCyr/MotorCyr.woff') format('woff'), 
  url('../fonts/MotorCyr/MotorCyr.ttf')  format('truetype'), 
  url('../fonts/MotorCyr/MotorCyr.svg#MotorCyr') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'icon';
    src: url('../fonts/icon/Keepstyle.eot');
    src: url('../fonts/icon/Keepstyle.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icon/Keepstyle.woff') format('woff'),
         url('../fonts/icon/Keepstyle.ttf') format('truetype'),
         url('../fonts/icon/Keepstyle.svg#Keepstyle') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*='icon-']:before{
    display: inline-block;
    font-family: 'icon';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.icon-cart:before{content:'\0041';}
.icon-cart_hover:before{content:'\0042';}
.icon-fb:before{content:'\0043';}
.icon-fb_hover:before{content:'\0044';}
.icon-inst:before{content:'\0045';}
.icon-inst_hover:before{content:'\0046';}
.icon-vk:before{content:'\0047';}
.icon-vk_hover:before{content:'\0048';}
.icon-scroll:before{content:'\0049';}
.icon-jumpsuit:before{content:'\004a';}
.icon-man:before{content:'\004b';}
.icon-woman:before{content:'\004c';}
.icon-child:before{content:'\004d';}
.icon-body:before{content:'\004e';}
.icon-polo:before{content:'\004f';}
.icon-sweatshirt:before{content:'\0050';}
.icon-tshirt:before{content:'\0051';}
.icon-flip:before{content:'\0052';}
.icon-mc:before{content:'\0053';}
.icon-pp:before{content:'\0054';}
.icon-visa:before{content:'\0055';}
.icon-close:before{content:'\0056';}
.icon-burger:before{content:'\0057';}
.icon-arrow:before{content:'\0058';}
.icon-sliderNav:before{content:'\0059';}
.icon-camera:before{content:'\005a';}
.icon-info:before{content:'\0061';}
.icon-cartAdd:before{content:'\0030';}
.icon-cartOk:before{content:'\0031';}
.icon-reload:before{content:'\0032';}
.icon-ok:before{content:'\0033';}